@font-face {
    font-family: "Roboto";
    src: url("/static/fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px;
    background-color: #919191;
}

header nav a {
    color: black;
    margin-right: 32px;
    text-decoration: none;
    font-weight: 500;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px;
}

.country {
    background: #D9D9D9;
    border-radius: 16px;
    text-align: center;
    padding: 20px;
}

img {
    width: 50%;
}

.list-countries {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 50px;

}